html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Source Sans Pro, Helvetica, sans-serif;
    ;
    margin: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.header-wrapper a {
    color: white;
    /*font-weight: 100;*/
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

.header-wrapper a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.header-wrapper {
    margin: 0 auto;
}

.header__nav ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__nav li {
    flex: 1;
}

@media all and (max-width:1000px) {
    .header__nav ul {
        flex-wrap: wrap;
    }
    .header__nav li {
        flex: 1 1 50%;
    }
}

@media all and (max-width:500px) {
    .header__nav li {
        flex-basis: 100%;
    }
}

.resume-page-wrapper {
    margin: 3% auto;
    border: 1px solid black;
    width: 70%;
    overflow-x: scroll;
}

.resume-block__header {
    text-align: center;
}

.resume-block__list {
    list-style: none;
}

.resume-block__list h4, p {
    margin: .5%;
}

.resume-block__list li {
    margin: 0;
    padding: 0;
    font-size: .9em;
}

.chart {
    margin: 2% auto;
    border: 0px solid black;
    width: 70%
}


/*.resume-block__list {
    list-style: none;
    margin-right: 1%;
}

.resume-sub-block-wrapper {
    margin-right: 1%;
    margin-bottom: .30em;
    text-transform: none;
    font-size: .9em;
}

.resume-sub-block-wrapper h4, p {
    margin: 0;
}*/
